In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore') # Ignore warnings
import sklearn.metrics as metrics

In [6]:
all_dtypes = {'id': 'category', 'item_id': 'category', 'dept_id': 'category', 'cat_id': 'category', 
                'store_id': 'category', 'state_id': 'category', 'd': 'category', 'sales_units': 'float32',
                "event_name_1": "category", "event_name_2": "category", "event_type_1": "category",
                "event_type_2": "category", "weekday": "category", 'wm_yr_wk': 'int16', "wday": "int16",
                "month": "int16", "year": "int16", "snap_CA": "float32", 'snap_TX': 'float32', 'snap_WI': 'float32' }

In [7]:
c3 = pd.read_csv("ca_3.csv", dtype=all_dtypes)
c3.drop(columns = ["Unnamed: 0"], inplace = True)
#Convert date column to datetime format
c3["date"] = pd.to_datetime(c3["date"])
c3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918109 entries, 0 to 5918108
Data columns (total 21 columns):
 #   Column        Dtype
---  ------        -----
 0   id            category
 1   item_id       category
 2   dept_id       category
 3   cat_id        category
 4   store_id      category
 5   state_id      category
 6   d             category
 7   sales_units   float32
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       category
 11  wday          int16
 12  month         int16
 13  year          int16
 14  event_name_1  category
 15  event_type_1  category
 16  event_name_2  category
 17  event_type_2  category
 18  snap_CA       float32
 19  snap_TX       float32
 20  snap_WI       float32
dtypes: category(12), datetime64[ns](1), float32(4), int16(4)
memory usage: 265.5 MB

In [8]:
c4 = pd.read_csv("ca_4.csv", dtype=all_dtypes)
c4.drop(columns = ["Unnamed: 0"], inplace = True)
#Convert date column to datetime format
c4["date"] = pd.to_datetime(c4["date"])
c4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918109 entries, 0 to 5918108
Data columns (total 21 columns):
 #   Column        Dtype
---  ------        -----
 0   id            category
 1   item_id       category
 2   dept_id       category
 3   cat_id        category
 4   store_id      category
 5   state_id      category
 6   d             category
 7   sales_units   float32
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       category
 11  wday          int16
 12  month         int16
 13  year          int16
 14  event_name_1  category
 15  event_type_1  category
 16  event_name_2  category
 17  event_type_2  category
 18  snap_CA       float32
 19  snap_TX       float32
 20  snap_WI       float32
dtypes: category(12), datetime64[ns](1), float32(4), int16(4)
memory usage: 265.5 MB

In [9]:
pd.set_option("display.max_columns", None)

In [10]:
c3

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales_units,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,HOBBIES_1_001_CA_3_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,HOBBIES_1_002_CA_3_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_3,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,HOBBIES_1_003_CA_3_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_3,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,HOBBIES_1_004_CA_3_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_3,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,HOBBIES_1_005_CA_3_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_3,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5918104,FOODS_3_823_CA_3_evaluation,FOODS_3_823,FOODS_3,FOODS,CA_3,CA,d_1941,2.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0
5918105,FOODS_3_824_CA_3_evaluation,FOODS_3_824,FOODS_3,FOODS,CA_3,CA,d_1941,0.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0
5918106,FOODS_3_825_CA_3_evaluation,FOODS_3_825,FOODS_3,FOODS,CA_3,CA,d_1941,1.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0
5918107,FOODS_3_826_CA_3_evaluation,FOODS_3_826,FOODS_3,FOODS,CA_3,CA,d_1941,0.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0
5918108,FOODS_3_827_CA_3_evaluation,FOODS_3_827,FOODS_3,FOODS,CA_3,CA,d_1941,0.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [11]:
#Moving Averages
import tqdm

window=[7,14,21,28,35]
for i in tqdm.tqdm(window):
    c3['rolling_mean_'+str(i)]=c3.groupby(['id'])['sales_units'].transform(lambda s: s.rolling(i).mean())


window=['rolling_mean_7','rolling_mean_14', 'rolling_mean_21' ,'rolling_mean_28', 'rolling_mean_35']
for i in window:
    c3[i]=c3[i].fillna(0)

100%|█████████████████████████████████████████████| 5/5 [00:05<00:00,  1.15s/it]

In [12]:
c3["diff"] = c3.groupby(['id'])['sales_units'].transform(lambda s: s.diff()).shift(3049)
c3["diff"] = c3["diff"].fillna(0)

In [13]:
# Lags
lags = [1,7,14,21,28,35]

for i in lags:
    c3['lag_'+str(i)]=c3.groupby(['id'])['sales_units'].shift(i)
# if you see in dataframe there is lot of NaN value get created. i am replacing NaN value with "0".
lags=['lag_1','lag_7', 'lag_14','lag_21', 'lag_28', 'lag_35']

for i in lags:
    c3[i]=c3[i].fillna(0)

In [14]:
# Top Holidays effect
c3['SuperBowl']=c3['event_name_1'].apply(lambda x: 1 if (x == "SuperBowl") else 0)
c3['SuperBowl']=c3['SuperBowl'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

c3['MothersDay']=c3['event_name_1'].apply(lambda x: 1 if (x == "Mother's day") else 0)
c3['MothersDay']=c3['MothersDay'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

c3['PesachEnd']=c3['event_name_1'].apply(lambda x: 1 if (x == "Pesach End") else 0)
c3['PesachEnd']=c3['PesachEnd'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

c3['PurimEnd']=c3['event_name_1'].apply(lambda x: 1 if (x == "Purim End") else 0)
c3['PurimEnd']=c3['PurimEnd'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

c3['LaborDay']=c3['event_name_1'].apply(lambda x: 1 if (x == "LaborDay") else 0)
c3['LaborDay']=c3['LaborDay'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

In [15]:
# For any holiday effect
c3['Holiday']=c3['event_name_1'].apply(lambda x: 1 if (pd.isnull(x) == False) else 0)
c3['Holiday']=c3['Holiday'].apply(lambda x: 0 if (pd.isnull(x)) else 1)

In [16]:
# Weekend effect
weekends= ["Saturday", "Sunday"]
c3['weekend']=c3['weekday'].apply(lambda x: 1 if x in weekends else 0)

In [17]:
# Get quarter, week number, and the day of date
c3['quarter'] = c3['date'].dt.quarter
c3['weekofyear'] = c3['date'].dt.weekofyear
c3['daynumber'] = c3['date'].dt.day

In [18]:
# (IMPORTANT) Remember to change snap CA to snap state you are using for model
data_with_features = c3[['id', 'dept_id', 'sales_units', 'date', 'wday', 'month', 'year', 'snap_CA','rolling_mean_7', 
                         'rolling_mean_14','rolling_mean_21', 'rolling_mean_28', 'rolling_mean_35', 'diff','lag_1', 'lag_7',
                         'lag_14', 'lag_21', 'lag_28', 'lag_35','SuperBowl', 'MothersDay', 'PesachEnd', 'PurimEnd', 'LaborDay',
                         'Holiday','weekend', 'quarter', 'weekofyear', 'daynumber']]

In [19]:
# Check number of missing values in each column
print(data_with_features.isnull().sum())

id                 0
dept_id            0
sales_units        0
date               0
wday               0
month              0
year               0
snap_CA            0
rolling_mean_7     0
rolling_mean_14    0
rolling_mean_21    0
rolling_mean_28    0
rolling_mean_35    0
diff               0
lag_1              0
lag_7              0
lag_14             0
lag_21             0
lag_28             0
lag_35             0
SuperBowl          0
MothersDay         0
PesachEnd          0
PurimEnd           0
LaborDay           0
Holiday            0
weekend            0
quarter            0
weekofyear         0
daynumber          0
dtype: int64

In [20]:
data_with_features['date'].max()

Timestamp('2016-05-22 00:00:00')

### Basic Features: Testing Data

In [21]:
len(data_with_features['id'].unique())

3049

In [22]:
data_with_features.columns

Index(['id', 'dept_id', 'sales_units', 'date', 'wday', 'month', 'year',
       'snap_CA', 'rolling_mean_7', 'rolling_mean_14', 'rolling_mean_21',
       'rolling_mean_28', 'rolling_mean_35', 'diff', 'lag_1', 'lag_7',
       'lag_14', 'lag_21', 'lag_28', 'lag_35', 'SuperBowl', 'MothersDay',
       'PesachEnd', 'PurimEnd', 'LaborDay', 'Holiday', 'weekend', 'quarter',
       'weekofyear', 'daynumber'],
      dtype='object')

In [23]:
basic_forecast = data_with_features[['id','dept_id']]
basic_forecast.shape
basic_forecast.drop_duplicates(inplace=True)
basic_forecast.shape

(3049, 2)

In [24]:
basic_forecast

                                 id    dept_id
0     HOBBIES_1_001_CA_3_evaluation  HOBBIES_1
1     HOBBIES_1_002_CA_3_evaluation  HOBBIES_1
2     HOBBIES_1_003_CA_3_evaluation  HOBBIES_1
3     HOBBIES_1_004_CA_3_evaluation  HOBBIES_1
4     HOBBIES_1_005_CA_3_evaluation  HOBBIES_1
...                             ...        ...
3044    FOODS_3_823_CA_3_evaluation    FOODS_3
3045    FOODS_3_824_CA_3_evaluation    FOODS_3
3046    FOODS_3_825_CA_3_evaluation    FOODS_3
3047    FOODS_3_826_CA_3_evaluation    FOODS_3
3048    FOODS_3_827_CA_3_evaluation    FOODS_3

[3049 rows x 2 columns]

In [25]:
from datetime import datetime, date, timedelta
x = data_with_features['date'].max()
dates = []
for i in range(0,28):
    x = x + timedelta(days=1)
    dates.append(x)
dates = pd.DataFrame(dates, columns=['date'])
dates

         date
0  2016-05-23
1  2016-05-24
2  2016-05-25
3  2016-05-26
4  2016-05-27
5  2016-05-28
6  2016-05-29
7  2016-05-30
8  2016-05-31
9  2016-06-01
10 2016-06-02
11 2016-06-03
12 2016-06-04
13 2016-06-05
14 2016-06-06
15 2016-06-07
16 2016-06-08
17 2016-06-09
18 2016-06-10
19 2016-06-11
20 2016-06-12
21 2016-06-13
22 2016-06-14
23 2016-06-15
24 2016-06-16
25 2016-06-17
26 2016-06-18
27 2016-06-19

In [26]:
basic_forecast['key'] = 1
dates['key'] = 1
basic_forecast = pd.merge(basic_forecast,dates,on='key').drop('key',1)
basic_forecast

                                  id    dept_id       date
0      HOBBIES_1_001_CA_3_evaluation  HOBBIES_1 2016-05-23
1      HOBBIES_1_001_CA_3_evaluation  HOBBIES_1 2016-05-24
2      HOBBIES_1_001_CA_3_evaluation  HOBBIES_1 2016-05-25
3      HOBBIES_1_001_CA_3_evaluation  HOBBIES_1 2016-05-26
4      HOBBIES_1_001_CA_3_evaluation  HOBBIES_1 2016-05-27
...                              ...        ...        ...
85367    FOODS_3_827_CA_3_evaluation    FOODS_3 2016-06-15
85368    FOODS_3_827_CA_3_evaluation    FOODS_3 2016-06-16
85369    FOODS_3_827_CA_3_evaluation    FOODS_3 2016-06-17
85370    FOODS_3_827_CA_3_evaluation    FOODS_3 2016-06-18
85371    FOODS_3_827_CA_3_evaluation    FOODS_3 2016-06-19

[85372 rows x 3 columns]

In [27]:
basic_forecast['date']

0       2016-05-23
1       2016-05-24
2       2016-05-25
3       2016-05-26
4       2016-05-27
           ...
85367   2016-06-15
85368   2016-06-16
85369   2016-06-17
85370   2016-06-18
85371   2016-06-19
Name: date, Length: 85372, dtype: datetime64[ns]

In [28]:
cal = pd.read_csv("calendar.csv")
cal['date'] = pd.to_datetime(cal['date'])
cal

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [29]:
basic_forecast = pd.merge(basic_forecast,cal,how='inner',on='date')

In [30]:
basic_forecast = basic_forecast.drop(columns=["snap_TX","snap_WI"])

In [31]:
# Top Holidays effect
basic_forecast['SuperBowl']=basic_forecast['event_name_1'].apply(lambda x: 1 if (x == "SuperBowl") else 0)
basic_forecast['SuperBowl']=basic_forecast['SuperBowl'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

basic_forecast['MothersDay']=basic_forecast['event_name_1'].apply(lambda x: 1 if (x == "Mother's day") else 0)
basic_forecast['MothersDay']=basic_forecast['MothersDay'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

basic_forecast['PesachEnd']=basic_forecast['event_name_1'].apply(lambda x: 1 if (x == "Pesach End") else 0)
basic_forecast['PesachEnd']=basic_forecast['PesachEnd'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

basic_forecast['PurimEnd']=basic_forecast['event_name_1'].apply(lambda x: 1 if (x == "Purim End") else 0)
basic_forecast['PurimEnd']=basic_forecast['PurimEnd'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

basic_forecast['LaborDay']=basic_forecast['event_name_1'].apply(lambda x: 1 if (x == "LaborDay") else 0)
basic_forecast['LaborDay']=basic_forecast['LaborDay'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

# For any holiday effect
basic_forecast['Holiday']=basic_forecast['event_name_1'].apply(lambda x: 1 if (pd.isnull(x) == False) else 0)
basic_forecast['Holiday']=basic_forecast['Holiday'].apply(lambda x: 0 if (pd.isnull(x)) else 1)

# Weekend effect
weekends= ["Saturday", "Sunday"]
basic_forecast['weekend']=c3['weekday'].apply(lambda x: 1 if x in weekends else 0)

# Get quarter, week number, and the day of date
basic_forecast['quarter'] = basic_forecast['date'].dt.quarter
basic_forecast['weekofyear'] = basic_forecast['date'].dt.weekofyear
basic_forecast['daynumber'] = basic_forecast['date'].dt.day

# (IMPORTANT) Remember to change snap CA to snap state you are using for model
basic_forecast = basic_forecast[['id', 'dept_id', 'date', 'wday', 'month', 'year', 'snap_CA','SuperBowl',
                                 'MothersDay', 'PesachEnd', 'PurimEnd', 'LaborDay','Holiday','weekend', 'quarter', 
                                 'weekofyear', 'daynumber']]

In [32]:
#
basic_forecast = pd.get_dummies(columns=['dept_id'],data = basic_forecast)

In [33]:
data_with_features = pd.get_dummies(columns=['dept_id'],data = data_with_features)

In [34]:
basic_forecast

,id,date,wday,month,year,snap_CA,SuperBowl,MothersDay,PesachEnd,PurimEnd,LaborDay,Holiday,weekend,quarter,weekofyear,daynumber,dept_id_FOODS_1,dept_id_FOODS_2,dept_id_FOODS_3,dept_id_HOBBIES_1,dept_id_HOBBIES_2,dept_id_HOUSEHOLD_1,dept_id_HOUSEHOLD_2
0,HOBBIES_1_001_CA_3_evaluation,2016-05-23,3,5,2016,0,0,0,0,0,0,1,1,2,21,23,0,0,0,1,0,0,0
1,HOBBIES_1_002_CA_3_evaluation,2016-05-23,3,5,2016,0,0,0,0,0,0,1,1,2,21,23,0,0,0,1,0,0,0
2,HOBBIES_1_003_CA_3_evaluation,2016-05-23,3,5,2016,0,0,0,0,0,0,1,1,2,21,23,0,0,0,1,0,0,0
3,HOBBIES_1_004_CA_3_evaluation,2016-05-23,3,5,2016,0,0,0,0,0,0,1,1,2,21,23,0,0,0,1,0,0,0
4,HOBBIES_1_005_CA_3_evaluation,2016-05-23,3,5,2016,0,0,0,0,0,0,1,1,2,21,23,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85367,FOODS_3_823_CA_3_evaluation,2016-06-19,2,6,2016,0,0,0,0,0,0,1,0,2,24,19,0,0,1,0,0,0,0
85368,FOODS_3_824_CA_3_evaluation,2016-06-19,2,6,2016,0,0,0,0,0,0,1,0,2,24,19,0,0,1,0,0,0,0
85369,FOODS_3_825_CA_3_evaluation,2016-06-19,2,6,2016,0,0,0,0,0,0,1,0,2,24,19,0,0,1,0,0,0,0
85370,FOODS_3_826_CA_3_evaluation,2016-06-19,2,6,2016,0,0,0,0,0,0,1,0,2,24,19,0,0,1,0,0,0,0
85371,FOODS_3_827_CA_3_evaluation,2016-06-19,2,6,2016,0,0,0,0,0,0,1,0,2,24,19,0,0,1,0,0,0,0

### Time Series Features: Test Data

In [35]:
start_date = basic_forecast["date"].min()

In [36]:
data_with_features.head()

,id,sales_units,date,wday,month,year,snap_CA,rolling_mean_7,rolling_mean_14,rolling_mean_21,rolling_mean_28,rolling_mean_35,diff,lag_1,lag_7,lag_14,lag_21,lag_28,lag_35,SuperBowl,MothersDay,PesachEnd,PurimEnd,LaborDay,Holiday,weekend,quarter,weekofyear,daynumber,dept_id_FOODS_1,dept_id_FOODS_2,dept_id_FOODS_3,dept_id_HOBBIES_1,dept_id_HOBBIES_2,dept_id_HOUSEHOLD_1,dept_id_HOUSEHOLD_2
0,HOBBIES_1_001_CA_3_evaluation,0.0,2011-01-29,1,1,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,1,4,29,0,0,0,1,0,0,0
1,HOBBIES_1_002_CA_3_evaluation,0.0,2011-01-29,1,1,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,1,4,29,0,0,0,1,0,0,0
2,HOBBIES_1_003_CA_3_evaluation,0.0,2011-01-29,1,1,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,1,4,29,0,0,0,1,0,0,0
3,HOBBIES_1_004_CA_3_evaluation,0.0,2011-01-29,1,1,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,1,4,29,0,0,0,1,0,0,0
4,HOBBIES_1_005_CA_3_evaluation,0.0,2011-01-29,1,1,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,1,4,29,0,0,0,1,0,0,0

In [37]:
ids = data_with_features[['id']]
ids.shape
ids.drop_duplicates(inplace=True)
ids

                                 id
0     HOBBIES_1_001_CA_3_evaluation
1     HOBBIES_1_002_CA_3_evaluation
2     HOBBIES_1_003_CA_3_evaluation
3     HOBBIES_1_004_CA_3_evaluation
4     HOBBIES_1_005_CA_3_evaluation
...                             ...
3044    FOODS_3_823_CA_3_evaluation
3045    FOODS_3_824_CA_3_evaluation
3046    FOODS_3_825_CA_3_evaluation
3047    FOODS_3_826_CA_3_evaluation
3048    FOODS_3_827_CA_3_evaluation

[3049 rows x 1 columns]

In [67]:
complete_data = data_with_features

In [39]:
data_with_features["date"].max()

Timestamp('2016-05-22 00:00:00')

# Model Building

In [40]:
train = data_with_features[data_with_features['date']<'2016-04-01']
validation = data_with_features[~(data_with_features['date']<'2016-04-01')]
validation = validation[~(validation['date']>='2016-05-01')]
test = data_with_features[data_with_features['date']>='2016-05-01']

In [41]:
train_x = train.drop(columns=['sales_units','date','id'])
train_y = train['sales_units']
test_x = test.drop(columns=['sales_units','date','id'])
test_y = test['sales_units']
validation_x = validation.drop(columns=['sales_units','date','id'])
validation_y = validation['sales_units']

In [42]:
train_x.tail()

,wday,month,year,snap_CA,rolling_mean_7,rolling_mean_14,rolling_mean_21,rolling_mean_28,rolling_mean_35,diff,lag_1,lag_7,lag_14,lag_21,lag_28,lag_35,SuperBowl,MothersDay,PesachEnd,PurimEnd,LaborDay,Holiday,weekend,quarter,weekofyear,daynumber,dept_id_FOODS_1,dept_id_FOODS_2,dept_id_FOODS_3,dept_id_HOBBIES_1,dept_id_HOBBIES_2,dept_id_HOUSEHOLD_1,dept_id_HOUSEHOLD_2
5759556,6,3,2016,0.0,0.000000,0.000000,1.523810,2.607143,3.542857,0.0,0.0,0.0,0.0,6.0,3.0,9.0,0,0,0,0,0,0,0,1,13,31,0,0,1,0,0,0,0
5759557,6,3,2016,0.0,0.142857,0.071429,0.047619,0.035714,0.028571,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,1,13,31,0,0,1,0,0,0,0
5759558,6,3,2016,0.0,2.571429,1.857143,2.285714,2.107143,1.857143,3.0,4.0,2.0,3.0,0.0,0.0,5.0,0,0,0,0,0,0,0,1,13,31,0,0,1,0,0,0,0
5759559,6,3,2016,0.0,2.142857,2.285714,2.333333,2.357143,2.171429,4.0,4.0,3.0,2.0,3.0,1.0,2.0,0,0,0,0,0,0,0,1,13,31,0,0,1,0,0,0,0
5759560,6,3,2016,0.0,4.142857,5.000000,5.619048,8.821429,11.742857,2.0,4.0,5.0,4.0,9.0,17.0,17.0,0,0,0,0,0,0,0,1,13,31,0,0,1,0,0,0,0

In [43]:
train_x.count()

wday                   5759561
month                  5759561
year                   5759561
snap_CA                5759561
rolling_mean_7         5759561
rolling_mean_14        5759561
rolling_mean_21        5759561
rolling_mean_28        5759561
rolling_mean_35        5759561
diff                   5759561
lag_1                  5759561
lag_7                  5759561
lag_14                 5759561
lag_21                 5759561
lag_28                 5759561
lag_35                 5759561
SuperBowl              5759561
MothersDay             5759561
PesachEnd              5759561
PurimEnd               5759561
LaborDay               5759561
Holiday                5759561
weekend                5759561
quarter                5759561
weekofyear             5759561
daynumber              5759561
dept_id_FOODS_1        5759561
dept_id_FOODS_2        5759561
dept_id_FOODS_3        5759561
dept_id_HOBBIES_1      5759561
dept_id_HOBBIES_2      5759561
dept_id_HOUSEHOLD_1    5759561
dept_id_HOUSEHOLD_2    5759561
dtype: int64

### LightGBM

In [55]:
import lightgbm as lgb

params = {
    'n_estimators': 500,
    'max_depth': 5,
    'learning_rate': 0.1,
    'boosting_type': 'dart'
}

model = lgb.LGBMRegressor(first_metric_only = True, **params)

model.fit(train_x, train_y,
          eval_metric = 'rmse', 
          eval_set = [(validation_x, validation_y)],
          #early_stopping_rounds = 10,
          verbose = 1)

[1]	valid_0's rmse: 4.64891	valid_0's l2: 21.6124
[2]	valid_0's rmse: 4.30405	valid_0's l2: 18.5248
[3]	valid_0's rmse: 3.99133	valid_0's l2: 15.9307
[4]	valid_0's rmse: 3.72491	valid_0's l2: 13.875
[5]	valid_0's rmse: 3.49649	valid_0's l2: 12.2255
[6]	valid_0's rmse: 3.29454	valid_0's l2: 10.854
[7]	valid_0's rmse: 3.12404	valid_0's l2: 9.75965
[8]	valid_0's rmse: 3.21572	valid_0's l2: 10.3409
[9]	valid_0's rmse: 3.05802	valid_0's l2: 9.35147
[10]	valid_0's rmse: 2.91605	valid_0's l2: 8.50336
[11]	valid_0's rmse: 2.79789	valid_0's l2: 7.8282
[12]	valid_0's rmse: 2.85266	valid_0's l2: 8.13765
[13]	valid_0's rmse: 2.74703	valid_0's l2: 7.54617
[14]	valid_0's rmse: 2.65632	valid_0's l2: 7.05603
[15]	valid_0's rmse: 2.58367	valid_0's l2: 6.67535
[16]	valid_0's rmse: 2.52226	valid_0's l2: 6.3618
[17]	valid_0's rmse: 2.46985	valid_0's l2: 6.10018
[18]	valid_0's rmse: 2.42624	valid_0's l2: 5.88663
[19]	valid_0's rmse: 2.38734	valid_0's l2: 5.69938
[20]	valid_0's rmse: 2.35503	valid_0's l2: 5.54617
[21]	valid_0's rmse: 2.37584	valid_0's l2: 5.64463
[22]	valid_0's rmse: 2.34548	valid_0's l2: 5.50129
[23]	valid_0's rmse: 2.32101	valid_0's l2: 5.3871
[24]	valid_0's rmse: 2.30038	valid_0's l2: 5.29177
[25]	valid_0's rmse: 2.28373	valid_0's l2: 5.21543
[26]	valid_0's rmse: 2.2702	valid_0's l2: 5.15381
[27]	valid_0's rmse: 2.25798	valid_0's l2: 5.09849
[28]	valid_0's rmse: 2.26691	valid_0's l2: 5.1389
[29]	valid_0's rmse: 2.25529	valid_0's l2: 5.08635
[30]	valid_0's rmse: 2.2452	valid_0's l2: 5.04095
[31]	valid_0's rmse: 2.2522	valid_0's l2: 5.07239
[32]	valid_0's rmse: 2.24372	valid_0's l2: 5.03426
[33]	valid_0's rmse: 2.23519	valid_0's l2: 4.9961
[34]	valid_0's rmse: 2.22779	valid_0's l2: 4.96305
[35]	valid_0's rmse: 2.23465	valid_0's l2: 4.99368
[36]	valid_0's rmse: 2.25412	valid_0's l2: 5.08105
[37]	valid_0's rmse: 2.2432	valid_0's l2: 5.03196
[38]	valid_0's rmse: 2.23279	valid_0's l2: 4.98537
[39]	valid_0's rmse: 2.22455	valid_0's l2: 4.94862
[40]	valid_0's rmse: 2.22844	valid_0's l2: 4.96594
[41]	valid_0's rmse: 2.23976	valid_0's l2: 5.01652
[42]	valid_0's rmse: 2.23099	valid_0's l2: 4.97732
[43]	valid_0's rmse: 2.23831	valid_0's l2: 5.01004
[44]	valid_0's rmse: 2.22932	valid_0's l2: 4.96986
[45]	valid_0's rmse: 2.22247	valid_0's l2: 4.93939
[46]	valid_0's rmse: 2.2604	valid_0's l2: 5.1094
[47]	valid_0's rmse: 2.24785	valid_0's l2: 5.05281
[48]	valid_0's rmse: 2.25078	valid_0's l2: 5.06602
[49]	valid_0's rmse: 2.26184	valid_0's l2: 5.11593
[50]	valid_0's rmse: 2.27649	valid_0's l2: 5.18241
[51]	valid_0's rmse: 2.26034	valid_0's l2: 5.10914
[52]	valid_0's rmse: 2.24843	valid_0's l2: 5.05542
[53]	valid_0's rmse: 2.26283	valid_0's l2: 5.12039
[54]	valid_0's rmse: 2.24985	valid_0's l2: 5.06184
[55]	valid_0's rmse: 2.23907	valid_0's l2: 5.01343
[56]	valid_0's rmse: 2.25371	valid_0's l2: 5.07922
[57]	valid_0's rmse: 2.241	valid_0's l2: 5.02206
[58]	valid_0's rmse: 2.28558	valid_0's l2: 5.22386
[59]	valid_0's rmse: 2.30917	valid_0's l2: 5.33228
[60]	valid_0's rmse: 2.28846	valid_0's l2: 5.23704
[61]	valid_0's rmse: 2.34029	valid_0's l2: 5.47696
[62]	valid_0's rmse: 2.31232	valid_0's l2: 5.34681
[63]	valid_0's rmse: 2.28938	valid_0's l2: 5.24124
[64]	valid_0's rmse: 2.30274	valid_0's l2: 5.30259
[65]	valid_0's rmse: 2.3103	valid_0's l2: 5.3375
[66]	valid_0's rmse: 2.28851	valid_0's l2: 5.2373
[67]	valid_0's rmse: 2.26971	valid_0's l2: 5.15157
[68]	valid_0's rmse: 2.25532	valid_0's l2: 5.08647
[69]	valid_0's rmse: 2.2642	valid_0's l2: 5.12661
[70]	valid_0's rmse: 2.26761	valid_0's l2: 5.14204
[71]	valid_0's rmse: 2.28169	valid_0's l2: 5.20611
[72]	valid_0's rmse: 2.2626	valid_0's l2: 5.11937
[73]	valid_0's rmse: 2.24859	valid_0's l2: 5.05615
[74]	valid_0's rmse: 2.25402	valid_0's l2: 5.08061
[75]	valid_0's rmse: 2.24255	valid_0's l2: 5.02904
[76]	valid_0's rmse: 2.24434	valid_0's l2: 5.03705
[77]	valid_0's rmse: 2.25039	valid_0's l2: 5.06425
[78]	valid_0's rmse: 2.26424	valid_0's l2: 5.12678
[79]	valid_0's rmse: 2.25089	valid_0's l2: 5.06648
[80]	valid_0's rmse: 2.239	valid_0's l2: 5.01313
[81]	valid_0's rmse: 2.24796	valid_0's l2: 5.05331
[82]	valid_0's rmse: 2.23642	valid_0's l2: 5.00157
[83]	valid_0's rmse: 2.24584	valid_0's l2: 5.0438
[84]	valid_0's rmse: 2.25183	valid_0's l2: 5.07074
[85]	valid_0's rmse: 2.2625	valid_0's l2: 5.11893
[86]	valid_0's rmse: 2.2473	valid_0's l2: 5.05037
[87]	valid_0's rmse: 2.2356	valid_0's l2: 4.9979
[88]	valid_0's rmse: 2.24543	valid_0's l2: 5.04193
[89]	valid_0's rmse: 2.2554	valid_0's l2: 5.08684
[90]	valid_0's rmse: 2.26286	valid_0's l2: 5.12051
[91]	valid_0's rmse: 2.29255	valid_0's l2: 5.2558
[92]	valid_0's rmse: 2.27432	valid_0's l2: 5.17254
[93]	valid_0's rmse: 2.25797	valid_0's l2: 5.09843
[94]	valid_0's rmse: 2.26519	valid_0's l2: 5.13109
[95]	valid_0's rmse: 2.27401	valid_0's l2: 5.17114
[96]	valid_0's rmse: 2.28146	valid_0's l2: 5.20507
[97]	valid_0's rmse: 2.26436	valid_0's l2: 5.12732
[98]	valid_0's rmse: 2.27525	valid_0's l2: 5.17675
[99]	valid_0's rmse: 2.25879	valid_0's l2: 5.10211
[100]	valid_0's rmse: 2.24534	valid_0's l2: 5.04157
[101]	valid_0's rmse: 2.26816	valid_0's l2: 5.14457
[102]	valid_0's rmse: 2.27514	valid_0's l2: 5.17624
[103]	valid_0's rmse: 2.2846	valid_0's l2: 5.21942
[104]	valid_0's rmse: 2.26603	valid_0's l2: 5.13489
[105]	valid_0's rmse: 2.28962	valid_0's l2: 5.24234
[106]	valid_0's rmse: 2.30064	valid_0's l2: 5.29293
[107]	valid_0's rmse: 2.31395	valid_0's l2: 5.35434
[108]	valid_0's rmse: 2.29079	valid_0's l2: 5.24774
[109]	valid_0's rmse: 2.2997	valid_0's l2: 5.2886
[110]	valid_0's rmse: 2.31019	valid_0's l2: 5.33698
[111]	valid_0's rmse: 2.28885	valid_0's l2: 5.23882
[112]	valid_0's rmse: 2.26908	valid_0's l2: 5.14874
[113]	valid_0's rmse: 2.25395	valid_0's l2: 5.08027
[114]	valid_0's rmse: 2.24114	valid_0's l2: 5.02269
[115]	valid_0's rmse: 2.22999	valid_0's l2: 4.97283
[116]	valid_0's rmse: 2.22017	valid_0's l2: 4.92915
[117]	valid_0's rmse: 2.227	valid_0's l2: 4.95954
[118]	valid_0's rmse: 2.22004	valid_0's l2: 4.92857
[119]	valid_0's rmse: 2.22605	valid_0's l2: 4.95529
[120]	valid_0's rmse: 2.23324	valid_0's l2: 4.98736
[121]	valid_0's rmse: 2.23969	valid_0's l2: 5.0162
[122]	valid_0's rmse: 2.24881	valid_0's l2: 5.05713
[123]	valid_0's rmse: 2.23667	valid_0's l2: 5.00269
[124]	valid_0's rmse: 2.22751	valid_0's l2: 4.96181
[125]	valid_0's rmse: 2.23678	valid_0's l2: 5.00317
[126]	valid_0's rmse: 2.24217	valid_0's l2: 5.02733
[127]	valid_0's rmse: 2.23119	valid_0's l2: 4.97819
[128]	valid_0's rmse: 2.239	valid_0's l2: 5.01313
[129]	valid_0's rmse: 2.22869	valid_0's l2: 4.96704
[130]	valid_0's rmse: 2.22027	valid_0's l2: 4.9296
[131]	valid_0's rmse: 2.22488	valid_0's l2: 4.9501
[132]	valid_0's rmse: 2.21652	valid_0's l2: 4.91295
[133]	valid_0's rmse: 2.20857	valid_0's l2: 4.87779
[134]	valid_0's rmse: 2.21936	valid_0's l2: 4.92556
[135]	valid_0's rmse: 2.21182	valid_0's l2: 4.89216
[136]	valid_0's rmse: 2.22856	valid_0's l2: 4.96646
[137]	valid_0's rmse: 2.23627	valid_0's l2: 5.00092
[138]	valid_0's rmse: 2.22591	valid_0's l2: 4.95468
[139]	valid_0's rmse: 2.21716	valid_0's l2: 4.91578
[140]	valid_0's rmse: 2.22427	valid_0's l2: 4.94739
[141]	valid_0's rmse: 2.2296	valid_0's l2: 4.97112
[142]	valid_0's rmse: 2.23581	valid_0's l2: 4.99885
[143]	valid_0's rmse: 2.226	valid_0's l2: 4.95508
[144]	valid_0's rmse: 2.23081	valid_0's l2: 4.97649
[145]	valid_0's rmse: 2.22158	valid_0's l2: 4.93541
[146]	valid_0's rmse: 2.2293	valid_0's l2: 4.96976
[147]	valid_0's rmse: 2.23512	valid_0's l2: 4.99576
[148]	valid_0's rmse: 2.24428	valid_0's l2: 5.03681
[149]	valid_0's rmse: 2.23286	valid_0's l2: 4.98566
[150]	valid_0's rmse: 2.22263	valid_0's l2: 4.94007
[151]	valid_0's rmse: 2.23448	valid_0's l2: 4.99289
[152]	valid_0's rmse: 2.24674	valid_0's l2: 5.04785
[153]	valid_0's rmse: 2.23381	valid_0's l2: 4.98992
[154]	valid_0's rmse: 2.23869	valid_0's l2: 5.01171
[155]	valid_0's rmse: 2.22788	valid_0's l2: 4.96344
[156]	valid_0's rmse: 2.23379	valid_0's l2: 4.98981
[157]	valid_0's rmse: 2.23728	valid_0's l2: 5.00544
[158]	valid_0's rmse: 2.24343	valid_0's l2: 5.03297
[159]	valid_0's rmse: 2.24946	valid_0's l2: 5.06008
[160]	valid_0's rmse: 2.2554	valid_0's l2: 5.08684
[161]	valid_0's rmse: 2.24074	valid_0's l2: 5.0209

[162]	valid_0's rmse: 2.24794	valid_0's l2: 5.05322
[163]	valid_0's rmse: 2.23562	valid_0's l2: 4.99801
[164]	valid_0's rmse: 2.22513	valid_0's l2: 4.9512
[165]	valid_0's rmse: 2.21664	valid_0's l2: 4.91351
[166]	valid_0's rmse: 2.20868	valid_0's l2: 4.87825
[167]	valid_0's rmse: 2.20198	valid_0's l2: 4.84871
[168]	valid_0's rmse: 2.19701	valid_0's l2: 4.82687
[169]	valid_0's rmse: 2.19282	valid_0's l2: 4.80848
[170]	valid_0's rmse: 2.1991	valid_0's l2: 4.83604
[171]	valid_0's rmse: 2.194	valid_0's l2: 4.81362
[172]	valid_0's rmse: 2.20063	valid_0's l2: 4.84278
[173]	valid_0's rmse: 2.19465	valid_0's l2: 4.81647
[174]	valid_0's rmse: 2.19111	valid_0's l2: 4.80095
[175]	valid_0's rmse: 2.18713	valid_0's l2: 4.78354
[176]	valid_0's rmse: 2.18989	valid_0's l2: 4.79563
[177]	valid_0's rmse: 2.19374	valid_0's l2: 4.8125
[178]	valid_0's rmse: 2.19836	valid_0's l2: 4.83279
[179]	valid_0's rmse: 2.19263	valid_0's l2: 4.80761
[180]	valid_0's rmse: 2.19596	valid_0's l2: 4.82223
[181]	valid_0's rmse: 2.19173	valid_0's l2: 4.80366
[182]	valid_0's rmse: 2.1889	valid_0's l2: 4.79127
[183]	valid_0's rmse: 2.18553	valid_0's l2: 4.77655
[184]	valid_0's rmse: 2.18296	valid_0's l2: 4.76532
[185]	valid_0's rmse: 2.18606	valid_0's l2: 4.77884
[186]	valid_0's rmse: 2.18429	valid_0's l2: 4.77113
[187]	valid_0's rmse: 2.18178	valid_0's l2: 4.76015
[188]	valid_0's rmse: 2.1797	valid_0's l2: 4.75111
[189]	valid_0's rmse: 2.18257	valid_0's l2: 4.76361
[190]	valid_0's rmse: 2.18581	valid_0's l2: 4.77777
[191]	valid_0's rmse: 2.18219	valid_0's l2: 4.76196
[192]	valid_0's rmse: 2.17931	valid_0's l2: 4.74937
[193]	valid_0's rmse: 2.1772	valid_0's l2: 4.7402
[194]	valid_0's rmse: 2.17944	valid_0's l2: 4.74996
[195]	valid_0's rmse: 2.18169	valid_0's l2: 4.75976
[196]	valid_0's rmse: 2.17929	valid_0's l2: 4.7493
[197]	valid_0's rmse: 2.18107	valid_0's l2: 4.75705
[198]	valid_0's rmse: 2.18382	valid_0's l2: 4.76906
[199]	valid_0's rmse: 2.18066	valid_0's l2: 4.7553
[200]	valid_0's rmse: 2.18372	valid_0's l2: 4.76864
[201]	valid_0's rmse: 2.18643	valid_0's l2: 4.78047
[202]	valid_0's rmse: 2.18945	valid_0's l2: 4.7937
[203]	valid_0's rmse: 2.18572	valid_0's l2: 4.77736
[204]	valid_0's rmse: 2.188	valid_0's l2: 4.78736
[205]	valid_0's rmse: 2.19316	valid_0's l2: 4.80996
[206]	valid_0's rmse: 2.18855	valid_0's l2: 4.78975
[207]	valid_0's rmse: 2.19201	valid_0's l2: 4.80491
[208]	valid_0's rmse: 2.18778	valid_0's l2: 4.78637
[209]	valid_0's rmse: 2.19084	valid_0's l2: 4.79977
[210]	valid_0's rmse: 2.19413	valid_0's l2: 4.8142
[211]	valid_0's rmse: 2.19746	valid_0's l2: 4.82883
[212]	valid_0's rmse: 2.19242	valid_0's l2: 4.80669
[213]	valid_0's rmse: 2.18761	valid_0's l2: 4.78563
[214]	valid_0's rmse: 2.18365	valid_0's l2: 4.76832
[215]	valid_0's rmse: 2.18137	valid_0's l2: 4.75839
[216]	valid_0's rmse: 2.18485	valid_0's l2: 4.77355
[217]	valid_0's rmse: 2.18179	valid_0's l2: 4.76019
[218]	valid_0's rmse: 2.1808	valid_0's l2: 4.7559
[219]	valid_0's rmse: 2.18458	valid_0's l2: 4.7724
[220]	valid_0's rmse: 2.1818	valid_0's l2: 4.76027
[221]	valid_0's rmse: 2.18399	valid_0's l2: 4.76983
[222]	valid_0's rmse: 2.18102	valid_0's l2: 4.75685
[223]	valid_0's rmse: 2.17801	valid_0's l2: 4.74371
[224]	valid_0's rmse: 2.18065	valid_0's l2: 4.75525
[225]	valid_0's rmse: 2.18328	valid_0's l2: 4.76671
[226]	valid_0's rmse: 2.18565	valid_0's l2: 4.77706
[227]	valid_0's rmse: 2.18734	valid_0's l2: 4.78445
[228]	valid_0's rmse: 2.18338	valid_0's l2: 4.76714
[229]	valid_0's rmse: 2.18636	valid_0's l2: 4.78017
[230]	valid_0's rmse: 2.18218	valid_0's l2: 4.76193
[231]	valid_0's rmse: 2.18066	valid_0's l2: 4.75528
[232]	valid_0's rmse: 2.17806	valid_0's l2: 4.74396
[233]	valid_0's rmse: 2.18037	valid_0's l2: 4.75401
[234]	valid_0's rmse: 2.17779	valid_0's l2: 4.74278
[235]	valid_0's rmse: 2.18045	valid_0's l2: 4.75436
[236]	valid_0's rmse: 2.17749	valid_0's l2: 4.74148
[237]	valid_0's rmse: 2.17538	valid_0's l2: 4.73228
[238]	valid_0's rmse: 2.17466	valid_0's l2: 4.72913
[239]	valid_0's rmse: 2.17301	valid_0's l2: 4.72197
[240]	valid_0's rmse: 2.17195	valid_0's l2: 4.71739
[241]	valid_0's rmse: 2.17373	valid_0's l2: 4.72509
[242]	valid_0's rmse: 2.17339	valid_0's l2: 4.72361
[243]	valid_0's rmse: 2.17522	valid_0's l2: 4.73158
[244]	valid_0's rmse: 2.17764	valid_0's l2: 4.74213
[245]	valid_0's rmse: 2.17572	valid_0's l2: 4.73376
[246]	valid_0's rmse: 2.17434	valid_0's l2: 4.72775
[247]	valid_0's rmse: 2.1727	valid_0's l2: 4.72064
[248]	valid_0's rmse: 2.17453	valid_0's l2: 4.7286
[249]	valid_0's rmse: 2.17645	valid_0's l2: 4.73694
[250]	valid_0's rmse: 2.17426	valid_0's l2: 4.72739
[251]	valid_0's rmse: 2.17589	valid_0's l2: 4.73451
[252]	valid_0's rmse: 2.17789	valid_0's l2: 4.74319
[253]	valid_0's rmse: 2.17495	valid_0's l2: 4.73042
[254]	valid_0's rmse: 2.17288	valid_0's l2: 4.72142
[255]	valid_0's rmse: 2.17129	valid_0's l2: 4.71452
[256]	valid_0's rmse: 2.17047	valid_0's l2: 4.71096
[257]	valid_0's rmse: 2.16908	valid_0's l2: 4.70492
[258]	valid_0's rmse: 2.16827	valid_0's l2: 4.70138
[259]	valid_0's rmse: 2.16974	valid_0's l2: 4.70776
[260]	valid_0's rmse: 2.17128	valid_0's l2: 4.71446
[261]	valid_0's rmse: 2.17322	valid_0's l2: 4.72289
[262]	valid_0's rmse: 2.1716	valid_0's l2: 4.71583
[263]	valid_0's rmse: 2.16988	valid_0's l2: 4.70839
[264]	valid_0's rmse: 2.16928	valid_0's l2: 4.70576
[265]	valid_0's rmse: 2.1686	valid_0's l2: 4.70281
[266]	valid_0's rmse: 2.16775	valid_0's l2: 4.69915
[267]	valid_0's rmse: 2.16905	valid_0's l2: 4.70476
[268]	valid_0's rmse: 2.16794	valid_0's l2: 4.69994
[269]	valid_0's rmse: 2.16965	valid_0's l2: 4.70738
[270]	valid_0's rmse: 2.16744	valid_0's l2: 4.69782
[271]	valid_0's rmse: 2.16877	valid_0's l2: 4.70358
[272]	valid_0's rmse: 2.16654	valid_0's l2: 4.6939
[273]	valid_0's rmse: 2.16468	valid_0's l2: 4.68586
[274]	valid_0's rmse: 2.1658	valid_0's l2: 4.6907
[275]	valid_0's rmse: 2.16572	valid_0's l2: 4.69033
[276]	valid_0's rmse: 2.16691	valid_0's l2: 4.6955
[277]	valid_0's rmse: 2.16684	valid_0's l2: 4.69518
[278]	valid_0's rmse: 2.16809	valid_0's l2: 4.70064
[279]	valid_0's rmse: 2.16704	valid_0's l2: 4.69606
[280]	valid_0's rmse: 2.16848	valid_0's l2: 4.70231
[281]	valid_0's rmse: 2.17105	valid_0's l2: 4.71347
[282]	valid_0's rmse: 2.16916	valid_0's l2: 4.70527
[283]	valid_0's rmse: 2.17055	valid_0's l2: 4.71129
[284]	valid_0's rmse: 2.16858	valid_0's l2: 4.70272
[285]	valid_0's rmse: 2.16689	valid_0's l2: 4.6954
[286]	valid_0's rmse: 2.16595	valid_0's l2: 4.69135
[287]	valid_0's rmse: 2.16397	valid_0's l2: 4.68276
[288]	valid_0's rmse: 2.16524	valid_0's l2: 4.68824
[289]	valid_0's rmse: 2.16407	valid_0's l2: 4.68321
[290]	valid_0's rmse: 2.16313	valid_0's l2: 4.67912
[291]	valid_0's rmse: 2.16267	valid_0's l2: 4.67716
[292]	valid_0's rmse: 2.16364	valid_0's l2: 4.68134
[293]	valid_0's rmse: 2.16478	valid_0's l2: 4.68625
[294]	valid_0's rmse: 2.1632	valid_0's l2: 4.67944
[295]	valid_0's rmse: 2.16439	valid_0's l2: 4.68458
[296]	valid_0's rmse: 2.16579	valid_0's l2: 4.69066
[297]	valid_0's rmse: 2.16441	valid_0's l2: 4.68469
[298]	valid_0's rmse: 2.16585	valid_0's l2: 4.69089
[299]	valid_0's rmse: 2.16502	valid_0's l2: 4.6873
[300]	valid_0's rmse: 2.16633	valid_0's l2: 4.69298
[301]	valid_0's rmse: 2.16823	valid_0's l2: 4.7012
[302]	valid_0's rmse: 2.16596	valid_0's l2: 4.69137
[303]	valid_0's rmse: 2.16741	valid_0's l2: 4.69765
[304]	valid_0's rmse: 2.16885	valid_0's l2: 4.70391
[305]	valid_0's rmse: 2.17038	valid_0's l2: 4.71055
[306]	valid_0's rmse: 2.17187	valid_0's l2: 4.71704
[307]	valid_0's rmse: 2.17423	valid_0's l2: 4.72727
[308]	valid_0's rmse: 2.17142	valid_0's l2: 4.71505
[309]	valid_0's rmse: 2.17362	valid_0's l2: 4.72463
[310]	valid_0's rmse: 2.17055	valid_0's l2: 4.71127
[311]	valid_0's rmse: 2.16808	valid_0's l2: 4.70058
[312]	valid_0's rmse: 2.16725	valid_0's l2: 4.69696
[313]	valid_0's rmse: 2.16539	valid_0's l2: 4.6889
[314]	valid_0's rmse: 2.1672	valid_0's l2: 4.69678
[315]	valid_0's rmse: 2.16861	valid_0's l2: 4.70286
[316]	valid_0's rmse: 2.16692	valid_0's l2: 4.69555
[317]	valid_0's rmse: 2.16662	valid_0's l2: 4.69424
[318]	valid_0's rmse: 2.16531	valid_0's l2: 4.68858
[319]	valid_0's rmse: 2.16645	valid_0's l2: 4.6935
[320]	valid_0's rmse: 2.16602	valid_0's l2: 4.69166

[321]	valid_0's rmse: 2.16682	valid_0's l2: 4.69512
[322]	valid_0's rmse: 2.16538	valid_0's l2: 4.68888
[323]	valid_0's rmse: 2.16467	valid_0's l2: 4.6858
[324]	valid_0's rmse: 2.16565	valid_0's l2: 4.69003
[325]	valid_0's rmse: 2.1643	valid_0's l2: 4.68419
[326]	valid_0's rmse: 2.16534	valid_0's l2: 4.68871
[327]	valid_0's rmse: 2.16491	valid_0's l2: 4.68684
[328]	valid_0's rmse: 2.16606	valid_0's l2: 4.69182
[329]	valid_0's rmse: 2.16505	valid_0's l2: 4.68745
[330]	valid_0's rmse: 2.16593	valid_0's l2: 4.69125
[331]	valid_0's rmse: 2.167	valid_0's l2: 4.69589
[332]	valid_0's rmse: 2.16914	valid_0's l2: 4.70516
[333]	valid_0's rmse: 2.17042	valid_0's l2: 4.71074
[334]	valid_0's rmse: 2.17202	valid_0's l2: 4.71765
[335]	valid_0's rmse: 2.16973	valid_0's l2: 4.70774
[336]	valid_0's rmse: 2.17118	valid_0's l2: 4.71401
[337]	valid_0's rmse: 2.1701	valid_0's l2: 4.70934
[338]	valid_0's rmse: 2.1678	valid_0's l2: 4.69936
[339]	valid_0's rmse: 2.169	valid_0's l2: 4.70458
[340]	valid_0's rmse: 2.17061	valid_0's l2: 4.71156
[341]	valid_0's rmse: 2.16876	valid_0's l2: 4.70352
[342]	valid_0's rmse: 2.16716	valid_0's l2: 4.69659
[343]	valid_0's rmse: 2.1655	valid_0's l2: 4.68937
[344]	valid_0's rmse: 2.16653	valid_0's l2: 4.69386
[345]	valid_0's rmse: 2.16633	valid_0's l2: 4.69297
[346]	valid_0's rmse: 2.16517	valid_0's l2: 4.68795
[347]	valid_0's rmse: 2.16635	valid_0's l2: 4.69307
[348]	valid_0's rmse: 2.16487	valid_0's l2: 4.68665
[349]	valid_0's rmse: 2.16349	valid_0's l2: 4.68069
[350]	valid_0's rmse: 2.1644	valid_0's l2: 4.68464
[351]	valid_0's rmse: 2.16304	valid_0's l2: 4.67872
[352]	valid_0's rmse: 2.16209	valid_0's l2: 4.67465
[353]	valid_0's rmse: 2.16159	valid_0's l2: 4.67248
[354]	valid_0's rmse: 2.16237	valid_0's l2: 4.67583
[355]	valid_0's rmse: 2.16327	valid_0's l2: 4.67976
[356]	valid_0's rmse: 2.16235	valid_0's l2: 4.67574
[357]	valid_0's rmse: 2.16327	valid_0's l2: 4.67975
[358]	valid_0's rmse: 2.16201	valid_0's l2: 4.6743
[359]	valid_0's rmse: 2.16335	valid_0's l2: 4.68007
[360]	valid_0's rmse: 2.16219	valid_0's l2: 4.67506
[361]	valid_0's rmse: 2.16074	valid_0's l2: 4.6688
[362]	valid_0's rmse: 2.15968	valid_0's l2: 4.66424
[363]	valid_0's rmse: 2.16037	valid_0's l2: 4.6672
[364]	valid_0's rmse: 2.16116	valid_0's l2: 4.67059
[365]	valid_0's rmse: 2.16012	valid_0's l2: 4.66611
[366]	valid_0's rmse: 2.16082	valid_0's l2: 4.66916
[367]	valid_0's rmse: 2.1618	valid_0's l2: 4.67337
[368]	valid_0's rmse: 2.1603	valid_0's l2: 4.66689
[369]	valid_0's rmse: 2.16137	valid_0's l2: 4.6715
[370]	valid_0's rmse: 2.16054	valid_0's l2: 4.66795
[371]	valid_0's rmse: 2.16171	valid_0's l2: 4.67299
[372]	valid_0's rmse: 2.16003	valid_0's l2: 4.66574
[373]	valid_0's rmse: 2.16039	valid_0's l2: 4.6673
[374]	valid_0's rmse: 2.1598	valid_0's l2: 4.66473
[375]	valid_0's rmse: 2.15926	valid_0's l2: 4.66241
[376]	valid_0's rmse: 2.15991	valid_0's l2: 4.66519
[377]	valid_0's rmse: 2.15867	valid_0's l2: 4.65984
[378]	valid_0's rmse: 2.15939	valid_0's l2: 4.66297
[379]	valid_0's rmse: 2.16024	valid_0's l2: 4.66664
[380]	valid_0's rmse: 2.15954	valid_0's l2: 4.66361
[381]	valid_0's rmse: 2.16034	valid_0's l2: 4.66709
[382]	valid_0's rmse: 2.16111	valid_0's l2: 4.67039
[383]	valid_0's rmse: 2.16146	valid_0's l2: 4.6719
[384]	valid_0's rmse: 2.16122	valid_0's l2: 4.67089
[385]	valid_0's rmse: 2.162	valid_0's l2: 4.67424
[386]	valid_0's rmse: 2.16118	valid_0's l2: 4.67068
[387]	valid_0's rmse: 2.1616	valid_0's l2: 4.67251
[388]	valid_0's rmse: 2.16072	valid_0's l2: 4.66871
[389]	valid_0's rmse: 2.16037	valid_0's l2: 4.66722
[390]	valid_0's rmse: 2.15999	valid_0's l2: 4.66556
[391]	valid_0's rmse: 2.16051	valid_0's l2: 4.66781
[392]	valid_0's rmse: 2.15997	valid_0's l2: 4.66549
[393]	valid_0's rmse: 2.15992	valid_0's l2: 4.66526
[394]	valid_0's rmse: 2.15948	valid_0's l2: 4.66337
[395]	valid_0's rmse: 2.15917	valid_0's l2: 4.66202
[396]	valid_0's rmse: 2.15967	valid_0's l2: 4.66418
[397]	valid_0's rmse: 2.15908	valid_0's l2: 4.66164
[398]	valid_0's rmse: 2.15904	valid_0's l2: 4.66144
[399]	valid_0's rmse: 2.15923	valid_0's l2: 4.66227
[400]	valid_0's rmse: 2.15912	valid_0's l2: 4.66181
[401]	valid_0's rmse: 2.15956	valid_0's l2: 4.66368
[402]	valid_0's rmse: 2.15918	valid_0's l2: 4.66206
[403]	valid_0's rmse: 2.15975	valid_0's l2: 4.66453
[404]	valid_0's rmse: 2.15918	valid_0's l2: 4.66205
[405]	valid_0's rmse: 2.15886	valid_0's l2: 4.66069
[406]	valid_0's rmse: 2.15946	valid_0's l2: 4.66325
[407]	valid_0's rmse: 2.15895	valid_0's l2: 4.66105
[408]	valid_0's rmse: 2.15939	valid_0's l2: 4.66295
[409]	valid_0's rmse: 2.1586	valid_0's l2: 4.65954
[410]	valid_0's rmse: 2.15836	valid_0's l2: 4.65853
[411]	valid_0's rmse: 2.15832	valid_0's l2: 4.65834
[412]	valid_0's rmse: 2.15872	valid_0's l2: 4.66008
[413]	valid_0's rmse: 2.15921	valid_0's l2: 4.66221
[414]	valid_0's rmse: 2.1581	valid_0's l2: 4.65738
[415]	valid_0's rmse: 2.15783	valid_0's l2: 4.65623
[416]	valid_0's rmse: 2.15772	valid_0's l2: 4.65577
[417]	valid_0's rmse: 2.15809	valid_0's l2: 4.65736
[418]	valid_0's rmse: 2.15853	valid_0's l2: 4.65926
[419]	valid_0's rmse: 2.15815	valid_0's l2: 4.65761
[420]	valid_0's rmse: 2.15871	valid_0's l2: 4.66003
[421]	valid_0's rmse: 2.15824	valid_0's l2: 4.65798
[422]	valid_0's rmse: 2.15827	valid_0's l2: 4.65813
[423]	valid_0's rmse: 2.15752	valid_0's l2: 4.65491
[424]	valid_0's rmse: 2.15723	valid_0's l2: 4.65362
[425]	valid_0's rmse: 2.15771	valid_0's l2: 4.65571
[426]	valid_0's rmse: 2.15619	valid_0's l2: 4.64915
[427]	valid_0's rmse: 2.15556	valid_0's l2: 4.64643
[428]	valid_0's rmse: 2.15604	valid_0's l2: 4.64851
[429]	valid_0's rmse: 2.15672	valid_0's l2: 4.65146
[430]	valid_0's rmse: 2.15742	valid_0's l2: 4.65445
[431]	valid_0's rmse: 2.15658	valid_0's l2: 4.65083
[432]	valid_0's rmse: 2.1559	valid_0's l2: 4.6479
[433]	valid_0's rmse: 2.1559	valid_0's l2: 4.64791
[434]	valid_0's rmse: 2.15637	valid_0's l2: 4.64993
[435]	valid_0's rmse: 2.15689	valid_0's l2: 4.65215
[436]	valid_0's rmse: 2.15633	valid_0's l2: 4.64975
[437]	valid_0's rmse: 2.15584	valid_0's l2: 4.64764
[438]	valid_0's rmse: 2.15634	valid_0's l2: 4.64979
[439]	valid_0's rmse: 2.15704	valid_0's l2: 4.65283
[440]	valid_0's rmse: 2.15654	valid_0's l2: 4.65066
[441]	valid_0's rmse: 2.156	valid_0's l2: 4.64833
[442]	valid_0's rmse: 2.15557	valid_0's l2: 4.64647
[443]	valid_0's rmse: 2.15596	valid_0's l2: 4.64818
[444]	valid_0's rmse: 2.15583	valid_0's l2: 4.6476
[445]	valid_0's rmse: 2.15584	valid_0's l2: 4.64764
[446]	valid_0's rmse: 2.15629	valid_0's l2: 4.64957
[447]	valid_0's rmse: 2.15567	valid_0's l2: 4.64691
[448]	valid_0's rmse: 2.1564	valid_0's l2: 4.65005
[449]	valid_0's rmse: 2.15606	valid_0's l2: 4.6486
[450]	valid_0's rmse: 2.15609	valid_0's l2: 4.64873
[451]	valid_0's rmse: 2.15569	valid_0's l2: 4.647
[452]	valid_0's rmse: 2.15608	valid_0's l2: 4.64869
[453]	valid_0's rmse: 2.15648	valid_0's l2: 4.65039
[454]	valid_0's rmse: 2.15715	valid_0's l2: 4.65331
[455]	valid_0's rmse: 2.15665	valid_0's l2: 4.65114
[456]	valid_0's rmse: 2.15722	valid_0's l2: 4.65361
[457]	valid_0's rmse: 2.15764	valid_0's l2: 4.65541
[458]	valid_0's rmse: 2.15629	valid_0's l2: 4.64957
[459]	valid_0's rmse: 2.1554	valid_0's l2: 4.64576
[460]	valid_0's rmse: 2.15602	valid_0's l2: 4.64841
[461]	valid_0's rmse: 2.15551	valid_0's l2: 4.64621
[462]	valid_0's rmse: 2.156	valid_0's l2: 4.64835
[463]	valid_0's rmse: 2.15663	valid_0's l2: 4.65104
[464]	valid_0's rmse: 2.15589	valid_0's l2: 4.64785
[465]	valid_0's rmse: 2.1547	valid_0's l2: 4.64275
[466]	valid_0's rmse: 2.15518	valid_0's l2: 4.64481
[467]	valid_0's rmse: 2.15461	valid_0's l2: 4.64234
[468]	valid_0's rmse: 2.15518	valid_0's l2: 4.64482
[469]	valid_0's rmse: 2.1546	valid_0's l2: 4.64229
[470]	valid_0's rmse: 2.15528	valid_0's l2: 4.64522
[471]	valid_0's rmse: 2.15456	valid_0's l2: 4.64211
[472]	valid_0's rmse: 2.15511	valid_0's l2: 4.64448
[473]	valid_0's rmse: 2.15549	valid_0's l2: 4.64615
[474]	valid_0's rmse: 2.15487	valid_0's l2: 4.64347
[475]	valid_0's rmse: 2.15352	valid_0's l2: 4.63766
[476]	valid_0's rmse: 2.1541	valid_0's l2: 4.64017
[477]	valid_0's rmse: 2.15366	valid_0's l2: 4.63824
[478]	valid_0's rmse: 2.15419	valid_0's l2: 4.64053
[479]	valid_0's rmse: 2.15461	valid_0's l2: 4.64235
[480]	valid_0's rmse: 2.15378	valid_0's l2: 4.63878
[481]	valid_0's rmse: 2.15288	valid_0's l2: 4.6349

[482]	valid_0's rmse: 2.15243	valid_0's l2: 4.63297
[483]	valid_0's rmse: 2.15167	valid_0's l2: 4.62969
[484]	valid_0's rmse: 2.1522	valid_0's l2: 4.63195
[485]	valid_0's rmse: 2.15247	valid_0's l2: 4.63314
[486]	valid_0's rmse: 2.15218	valid_0's l2: 4.63187
[487]	valid_0's rmse: 2.15196	valid_0's l2: 4.63093
[488]	valid_0's rmse: 2.15204	valid_0's l2: 4.63129
[489]	valid_0's rmse: 2.15172	valid_0's l2: 4.62991
[490]	valid_0's rmse: 2.15206	valid_0's l2: 4.63138
[491]	valid_0's rmse: 2.15252	valid_0's l2: 4.63335
[492]	valid_0's rmse: 2.15296	valid_0's l2: 4.63523
[493]	valid_0's rmse: 2.15337	valid_0's l2: 4.63702
[494]	valid_0's rmse: 2.15277	valid_0's l2: 4.63443
[495]	valid_0's rmse: 2.15187	valid_0's l2: 4.63054
[496]	valid_0's rmse: 2.1516	valid_0's l2: 4.62937
[497]	valid_0's rmse: 2.15151	valid_0's l2: 4.62898
[498]	valid_0's rmse: 2.15109	valid_0's l2: 4.62718
[499]	valid_0's rmse: 2.15147	valid_0's l2: 4.62884
[500]	valid_0's rmse: 2.15123	valid_0's l2: 4.62779

LGBMRegressor(boosting_type='dart', first_metric_only=True, max_depth=5,
              n_estimators=500)

In [3]:
model.predict(validation_x)

NameError: name 'model' is not defined

In [47]:
import xgboost as xgb

params = {'booster': 'dart',
         'n_estimators': 50,
         'max_depth': 4, 
         'learning_rate': 0.1,
         'sample_type': 'uniform',
         'normalize_type': 'tree',
         'rate_drop': 0.1,
         'skip_drop': 0.5}

model2 = xgb.XGBRegressor(first_metric_only = True, **params)

model2.fit(train_x, train_y,
          eval_metric = 'rmse', 
          eval_set = [(validation_x, validation_y)],
          early_stopping_rounds = 10,
          verbose = 1)

[11:11:14] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-10.9-x86_64-cpython-38/xgboost/src/learner.cc:767:
Parameters: { "first_metric_only" } are not used.

[0]	validation_0-rmse:4.85953
[1]	validation_0-rmse:4.48683
[2]	validation_0-rmse:4.14214
[3]	validation_0-rmse:3.84817
[4]	validation_0-rmse:3.58333
[5]	validation_0-rmse:3.47922
[6]	validation_0-rmse:3.28157
[7]	validation_0-rmse:3.10207
[8]	validation_0-rmse:2.96069
[9]	validation_0-rmse:2.83493
[10]	validation_0-rmse:2.73648
[11]	validation_0-rmse:2.64296
[12]	validation_0-rmse:2.57318
[13]	validation_0-rmse:2.50875
[14]	validation_0-rmse:2.45896
[15]	validation_0-rmse:2.41751
[16]	validation_0-rmse:2.41004
[17]	validation_0-rmse:2.39941
[18]	validation_0-rmse:2.36991
[19]	validation_0-rmse:2.34329
[20]	validation_0-rmse:2.32659
[21]	validation_0-rmse:2.30994
[22]	validation_0-rmse:2.30687
[23]	validation_0-rmse:2.30208
[24]	validation_0-rmse:2.29621
[25]	validation_0-rmse:2.28488
[26]	validation_0-rmse:2.27490
[27]	validation_0-rmse:2.27071
[28]	validation_0-rmse:2.26763
[29]	validation_0-rmse:2.26070
[30]	validation_0-rmse:2.25981
[31]	validation_0-rmse:2.25438
[32]	validation_0-rmse:2.25004
[33]	validation_0-rmse:2.24698
[34]	validation_0-rmse:2.24666
[35]	validation_0-rmse:2.24584
[36]	validation_0-rmse:2.24360
[37]	validation_0-rmse:2.24289
[38]	validation_0-rmse:2.24154
[39]	validation_0-rmse:2.23980
[40]	validation_0-rmse:2.23687
[41]	validation_0-rmse:2.23592
[42]	validation_0-rmse:2.23513
[43]	validation_0-rmse:2.23368
[44]	validation_0-rmse:2.23358
[45]	validation_0-rmse:2.23273
[46]	validation_0-rmse:2.23166
[47]	validation_0-rmse:2.23150
[48]	validation_0-rmse:2.23004
[49]	validation_0-rmse:2.22988

XGBRegressor(base_score=0.5, booster='dart', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, feature_types=None, first_metric_only=True,
             gamma=0, gpu_id=-1, grow_policy='depthwise', importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_bin=256,
             max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
             max_depth=4, max_leaves=0, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=50, n_jobs=0,
             normalize_type='tree', num_parallel_tree=1, ...)

In [57]:
dates = data_with_features[data_with_features["date"]>="2016-05-01"]["date"].unique()

In [ ]:
# y_pred = model.predict(test_x)

### loop for dates

In [68]:
for d in dates:
    test_data = basic_forecast[basic_forecast["date"]==d]
    complete_data = complete_data.append(test_data, ignore_index=True)
    
    #Moving Averages
    window=[7,14,21,28,35]
    for i in window:
        complete_data['rolling_mean_'+str(i)]=complete_data.groupby(['id'])['sales_units'].transform(lambda s: s.rolling(i).mean())
    window=['rolling_mean_7','rolling_mean_14', 'rolling_mean_21' ,'rolling_mean_28', 'rolling_mean_35']
    for i in window:
        complete_data[i]=complete_data[i].fillna(0)
    
    #diff
    complete_data["diff"] = complete_data.groupby(['id'])['sales_units'].transform(lambda s: s.diff()).shift(3049)
    complete_data["diff"] = complete_data["diff"].fillna(0)
    
    # Lags
    lags = [1,7,14,21,28,35]

    for i in lags:
        complete_data['lag_'+str(i)]=complete_data.groupby(['id'])['sales_units'].shift(i)
        lags=['lag_1','lag_7', 'lag_14','lag_21', 'lag_28', 'lag_35']

    for i in lags:
        complete_data[i]=complete_data[i].fillna(0)
    
    test_data = complete_data[complete_data["date"]==d].drop(columns=["id","sales_units","date"])
    
    #Run model for predictions and replace this line of code
    predictions = model.predict(test_data)

    complete_data.loc[complete_data["date"]==d,"sales_units"] = predictions

In [69]:
predictions

array([1.31040849, 0.11233386, 0.11233386, ..., 2.15079164, 0.11233386,
       4.86850256])

In [72]:
data_with_features[data_with_features["date"]>="2016-05-01"]["sales_units"]

5851031    1.0
5851032    0.0
5851033    0.0
5851034    9.0
5851035    3.0
          ...
5918104    2.0
5918105    0.0
5918106    1.0
5918107    0.0
5918108    0.0
Name: sales_units, Length: 67078, dtype: float32

In [73]:
complete_data[complete_data["date"]>="2016-05-01"]["sales_units"]

5851031    0.951858
5851032    0.023746
5851033    0.097821
5851034    6.575282
5851035    2.273738
             ...
5918104    3.024758
5918105    0.112334
5918106    2.150792
5918107    0.112334
5918108    4.868503
Name: sales_units, Length: 67078, dtype: float32

In [74]:
np.rint(complete_data[complete_data["date"]>="2016-05-01"]["sales_units"])

5851031    1.0
5851032    0.0
5851033    0.0
5851034    7.0
5851035    2.0
          ...
5918104    3.0
5918105    0.0
5918106    2.0
5918107    0.0
5918108    5.0
Name: sales_units, Length: 67078, dtype: float32

In [70]:
metrics.mean_squared_error(data_with_features[data_with_features["date"]>="2016-05-01"]["sales_units"],complete_data[complete_data["date"]>="2016-05-01"]["sales_units"], squared=False)

2.1001325

In [71]:
metrics.mean_squared_error(data_with_features[data_with_features["date"]>="2016-05-01"]["sales_units"],np.rint(complete_data[complete_data["date"]>="2016-05-01"]["sales_units"]), squared=False)

2.116832

In [75]:
from typing import Union

import numpy as np
import pandas as pd
from tqdm.notebook import tqdm_notebook as tqdm


class WRMSSEEvaluator(object):

    def __init__(self, train_df: pd.DataFrame, valid_df: pd.DataFrame, calendar: pd.DataFrame, prices: pd.DataFrame):
        train_y = train_df.loc[:, train_df.columns.str.startswith('d_')]
        train_target_columns = train_y.columns.tolist()
        weight_columns = train_y.iloc[:, -28:].columns.tolist()

        train_df['all_id'] = 0  # for lv1 aggregation

        id_columns = train_df.loc[:, ~train_df.columns.str.startswith('d_')].columns.tolist()
        valid_target_columns = valid_df.loc[:, valid_df.columns.str.startswith('d_')].columns.tolist()

        if not all([c in valid_df.columns for c in id_columns]):
            valid_df = pd.concat([train_df[id_columns], valid_df], axis=1, sort=False)

        self.train_df = train_df
        self.valid_df = valid_df
        self.calendar = calendar
        self.prices = prices

        self.weight_columns = weight_columns
        self.id_columns = id_columns
        self.valid_target_columns = valid_target_columns

        weight_df = self.get_weight_df()

        self.group_ids = (
            'all_id',
            'state_id',
            'store_id',
            'cat_id',
            'dept_id',
            ['state_id', 'cat_id'],
            ['state_id', 'dept_id'],
            ['store_id', 'cat_id'],
            ['store_id', 'dept_id'],
            'item_id',
            ['item_id', 'state_id'],
            ['item_id', 'store_id']
        )

        for i, group_id in enumerate(tqdm(self.group_ids)):
            train_y = train_df.groupby(group_id)[train_target_columns].sum()
            scale = []
            for _, row in train_y.iterrows():
                series = row.values[np.argmax(row.values != 0):]
                scale.append(((series[1:] - series[:-1]) ** 2).mean())
            setattr(self, f'lv{i + 1}_scale', np.array(scale))
            setattr(self, f'lv{i + 1}_train_df', train_y)
            setattr(self, f'lv{i + 1}_valid_df', valid_df.groupby(group_id)[valid_target_columns].sum())

            lv_weight = weight_df.groupby(group_id)[weight_columns].sum().sum(axis=1)
            setattr(self, f'lv{i + 1}_weight', lv_weight / lv_weight.sum())

    def get_weight_df(self) -> pd.DataFrame:
        day_to_week = self.calendar.set_index('d')['wm_yr_wk'].to_dict()
        weight_df = self.train_df[['item_id', 'store_id'] + self.weight_columns].set_index(['item_id', 'store_id'])
        weight_df = weight_df.stack().reset_index().rename(columns={'level_2': 'd', 0: 'value'})
        weight_df['wm_yr_wk'] = weight_df['d'].map(day_to_week)

        weight_df = weight_df.merge(self.prices, how='left', on=['item_id', 'store_id', 'wm_yr_wk'])
        weight_df['value'] = weight_df['value'] * weight_df['sell_price']
        weight_df = weight_df.set_index(['item_id', 'store_id', 'd']).unstack(level=2)['value']
        weight_df = weight_df.loc[zip(self.train_df.item_id, self.train_df.store_id), :].reset_index(drop=True)
        weight_df = pd.concat([self.train_df[self.id_columns], weight_df], axis=1, sort=False)
        return weight_df

    def rmsse(self, valid_preds: pd.DataFrame, lv: int) -> pd.Series:
        valid_y = getattr(self, f'lv{lv}_valid_df')
        score = ((valid_y - valid_preds) ** 2).mean(axis=1)
        scale = getattr(self, f'lv{lv}_scale')
        return (score / scale).map(np.sqrt)

    def score(self, valid_preds: Union[pd.DataFrame, np.ndarray]) -> float:
        assert self.valid_df[self.valid_target_columns].shape == valid_preds.shape

        if isinstance(valid_preds, np.ndarray):
            valid_preds = pd.DataFrame(valid_preds, columns=self.valid_target_columns)

        valid_preds = pd.concat([self.valid_df[self.id_columns], valid_preds], axis=1, sort=False)

        all_scores = []
        for i, group_id in enumerate(self.group_ids):
            lv_scores = self.rmsse(valid_preds.groupby(group_id)[self.valid_target_columns].sum(), i + 1)
            weight = getattr(self, f'lv{i + 1}_weight')
            lv_scores = pd.concat([weight, lv_scores], axis=1, sort=False).prod(axis=1)
            all_scores.append(lv_scores.sum())

        return np.mean(all_scores)

In [78]:
d_dtypes = {}